In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.25.8)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [5]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver

In [19]:
driver=webdriver.Chrome(r"C:\Users\Atirek\Internship FRT\chromedriver.exe")

# 1 Question Solution

In [20]:
url="https://www.naukri.com/"

In [21]:
driver.get(url)

In [23]:
#searching the job
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Analyst')

In [25]:
driver.find_element_by_xpath("//input[@id='qsb-location-sugg']").send_keys('Banglore')

In [26]:
#searching the data
driver.find_element_by_xpath("//button[@class='btn']").click()

In [78]:
job_titile=[]
company_name=[]
location=[]
exp_req=[]

In [79]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:11]

In [80]:
title

[<selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="0d561eb0-0d56-4a78-8cfb-1144c3f9e4cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="9bd9a533-0e6d-4c86-8aa9-ab0d0a0afb8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="0d11ef0a-d45b-49e3-87f2-f97b9195c5e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="282cb494-cc97-49a7-bb03-7e2da23c2457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="61403b21-616e-47cc-b270-109ea88f7680")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="ffd81c5b-669b-4644-8389-0443e93ccbff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="a9e357fa-3516-4f97-a913-27777667d611")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="b56b499b-4315-4e2d-9eb8-45ca1936b75c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="59b15f04-27e1-4820-b27c-1c3393c72b02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="c025587c-a7ff-43ae-ae29-cdd9b294ea76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="0f89a4c7-a71b-4ebb-ab8e-4c7429afcd0b")>]

In [81]:
for i in title:
    Title=i.text
    job_titile.append(Title)

In [82]:
job_titile

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Business Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee',
 'Hiring Data Analysts',
 'Hiring Data Analysts',
 'Data Analyst',
 'Study Data Analyst',
 'Data Analyst',
 'Business Data Analyst | Reinsurance Domain',
 'Business Data Analyst']

In [83]:
cname=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:11]

In [84]:
cname

[<selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="fd7741d3-9ff3-40a3-a72a-8b601953e10f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="3fa5b4b1-efeb-436a-a910-e366043697b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="cc78eaa8-ed44-4779-b320-dbf628cb3e37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="1b9fb575-35d3-472e-bcfe-062f654466b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="55fbfc72-a2d4-4d80-bbd5-2fd95446e7e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="a03ef0ff-f6ea-42cb-8eac-4b9b68ca7a31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="94f1fd9e-57a4-4391-b431-5ed759dc1455")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="fb5e7363-045e-4234-917f-bd50f342218d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="5294ea8d-9652-44cc-b572-35ede51a8bc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="20fc1a41-9f4a-48ec-b2ee-3f6d8a1b21a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="c13e337c-dc4a-4bdd-be56-0a1126f2d5d2")>]

In [85]:
for i in cname:
    Cname=i.text
    company_name.append(Cname)

In [86]:
company_name

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'NetApp',
 'MagicBase Royal BD Pvt Ltd',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Ltd',
 'Mphasis Limited',
 'GENPACT India Private Limited']

In [87]:
lct=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[0:11]

In [88]:
lct

[<selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="8f3cadbb-4abd-4c2c-9808-fd6f229eb10c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="857a353f-48f5-4f5a-8f5b-969aab484182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="d2ec84d2-0296-4972-adc5-d00537d5c482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="82e85f16-bfba-4f2c-9652-d3a7eb8d7e59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="56dce50a-fdf7-4adb-b5e6-6278d8db3bf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="7a59288a-d307-4e74-89d4-b91ac40619e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="a250e88c-10c5-42db-b7f8-3e133f09f21e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="de96082d-e84f-43a2-b826-860225808048")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="b2dc98ec-a114-4176-b1ef-f5c102cef760")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="e1d240b3-a8a0-4ba1-bec5-2679d56fb962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="4aaffcf1-0d63-4658-8d96-a223cef431c8")>]

In [89]:
for i in lct:
    Lct=i.text
    location.append(Lct)

In [90]:
location

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru(Whitefield)',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, India',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [91]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[0:11]

In [92]:
exp

[<selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="59a38c2c-5ed3-4fb6-9c34-395dbb2b3537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="755e925e-2bd3-432b-9c5d-cb9045abaa08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="07b5ac04-d593-4fe2-a028-4242556a10e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="10b49f3b-9d5e-4d4a-a025-30962e6637b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="bf18366f-8a40-41ee-937d-8b1622a174ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="bcab7469-c4f7-4229-93fa-cc5051d4d055")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="69c88891-c3d0-4278-b46a-437bcc717b5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="e66fa917-2c89-4a4d-a7d5-70b69e4bc1fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="c8d64525-9da0-4c2c-bc95-9c18785646ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="be97b23f-bc24-4102-ac1a-832f054d2d15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e14b6c69e6ca7d7931e1749c401fa5af", element="eeda8f7b-2e50-4dd5-9f24-47914662d6d3")>]

In [93]:
for i in exp:
    Exp=i.text
    exp_req.append(Exp)

In [94]:
exp_req

['0-2 Yrs',
 '0-3 Yrs',
 '2-3 Yrs',
 '0-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '3-4 Yrs',
 '10-15 Yrs',
 '3-6 Yrs']

In [96]:
naukri_df=pd.DataFrame({'jobName':job_titile,'CName':company_name,'location':location,'experience':exp_req})

In [97]:
naukri_df

,jobName,CName,location,experience
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs
2,Business Data Analyst,NetApp,Bengaluru,2-3 Yrs
3,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,Bengaluru(Whitefield),0-5 Yrs
4,Hiring Data Analysts,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
5,Hiring Data Analysts,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,"Bengaluru, India",3-5 Yrs
7,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,4-8 Yrs
8,Data Analyst,Cognizant Technology Solutions India Ltd,Bengaluru,3-4 Yrs
9,Business Data Analyst | Reinsurance Domain,Mphasis Limited,Bengaluru,10-15 Yrs
10,Business Data Analyst,GENPACT India Private Limited,Bengaluru,3-6 Yrs

# 2 Question Solution

In [98]:
url='https://www.naukri.com/'

In [99]:
driver.get(url)

In [100]:
#searching the job
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Scientist')

In [101]:
driver.find_element_by_xpath("//input[@id='qsb-location-sugg']").send_keys('Banglore')

In [102]:
#searching the data
driver.find_element_by_xpath("//button[@class='btn']").click()

In [125]:
job_title=[]
location=[]
company_name=[]
des=[]

In [126]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
for i in title:
    Title=i.text
    job_title.append(Title)
print(job_title)

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements', 'Immediate opening For Data Scientist/Data Analyst', 'Data Scientist - Machine Learning', 'Senior Data Scientist - NLP/ Python/ R', 'Senior Data Scientist | CES IT LTD | CMMI Level 5', 'Senior Data Scientist | CES IT LTD | CMMI Level 5', 'Data Scientist - Machine Learning/Data Mining', 'Artificial Intelligence Analyst/Data Scientist', 'Data Scientist', 'Global Medical Data Scientist']

In [127]:
lct=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[0:10]
for i in lct:
    Lct=i.text
    location.append(Lct)
    
print(location)

['Delhi NCR, Bengaluru, Hyderabad', 'Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru, Hyderabad', 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata', 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata', 'Bengaluru', 'Mumbai, Bengaluru', 'Chennai, Pune, Mumbai, Bengaluru, Hyderabad, Kolkata', 'Bengaluru, India']

In [128]:
cname=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
for i in cname:
    Cname=i.text
    company_name.append(Cname)
    
print(company_name)

['ACHYUTAS SOFT PRIVATE LIMITED', 'CAIA-Center For Artificial Intelligence & Advanced Analytics', 'BLUE YONDER INDIA PRIVATE LIMITED', 'AVI Consulting LLP', 'CES Ltd.', 'CES Ltd.', 'Minions Ventures', 'TalentCo Search Pvt Ltd', 'Mailkit Private Limited', 'GlaxoSmithKline Pharmaceuticals Limited']

In [136]:



desc=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")[0:10]
for i in desc:
    Desc=i.text
    des.append(Desc)
    
print(des)

['Building and iterating reports (with eventual design collaboration) based around a larg...', 'In case you are trying to shift your career to Analytics and / or AI domain please do c...', 'Experience working with some of the following frameworks and libraries: Pandas, Numpy, ...', 'Experience with application development practices at scale, from problem definition to ...', 'Logical and Analytical skills must be really strongShould have experience with atleast ...', 'Logical and Analytical skills must be really strongShould have experience with atleast ...', 'Required Skills : - Advanced degree in Machine Learning, Computer Science, Electrical E...', 'Should have at-least 1 end-to-end ML project experience 2+ yrs of experience as Data Sc...', 'Candidates might get the opportunity to work from homeDeveloper(s) should be able to ta...', 'medical voice of customer feedback, customer listening, feedback from surveys and resea...']

In [137]:
print(len(job_title),len(location),len(company_name),len(des))

10 10 10 10

In [138]:
naukri_df2=pd.DataFrame({'jobName':job_title,'CName':company_name,'location':location,'description':des})
naukri_df2

,jobName,CName,location,description
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",Building and iterating reports (with eventual ...
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",In case you are trying to shift your career to...
2,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Experience working with some of the following ...
3,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",Experience with application development practi...
4,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Logical and Analytical skills must be really s...
5,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Logical and Analytical skills must be really s...
6,Data Scientist - Machine Learning/Data Mining,Minions Ventures,Bengaluru,Required Skills : - Advanced degree in Machine...
7,Artificial Intelligence Analyst/Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Bengaluru",Should have at-least 1 end-to-end ML project e...
8,Data Scientist,Mailkit Private Limited,"Chennai, Pune, Mumbai, Bengaluru, Hyderabad, K...",Candidates might get the opportunity to work f...
9,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,"Bengaluru, India","medical voice of customer feedback, customer l..."

# Question 3 Solution

In [139]:
url='https://www.naukri.com/'

In [140]:
driver.get(url)

In [141]:
#searching the job
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Scientist')

In [142]:
#searching the data
driver.find_element_by_xpath("//button[@class='btn']").click()

In [147]:
#applying location filter
driver.find_element_by_xpath("//span[@title='Delhi/NCR']").click()

In [148]:
#applying salary filter
driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()

In [150]:
job_title=[]
company_name=[]
location=[]
exp_req=[]

In [151]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
for i in title:
    Title=i.text
    job_title.append(Title)
print(job_title)

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements', 'Data Scientist - Python/Machine Learning', 'Data Scientist', 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC', 'Data Scientist', 'Lead Data Scientist', 'Excellent opportunity For Lead Data Scientist at Noida location', 'Lead Data Scientist', 'Excellent opportunity For Lead Data Scientist at Noida location', 'Data Scientist']

In [152]:
cname=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
for i in cname:
    Cname=i.text
    company_name.append(Cname)
    
print(company_name)

['ACHYUTAS SOFT PRIVATE LIMITED', 'Jubna', 'PureSoftware Pvt Ltd.', 'GABA Consultancy services', 'World Wide Technology', 'NEC CORPORATION INDIA PRIVATE LTD', 'NEC CORPORATION INDIA PRIVATE LTD', 'NEC CORPORATION INDIA PRIVATE LTD', 'NEC CORPORATION INDIA PRIVATE LTD', 'Stark Industries']

In [153]:
lct=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[0:10]
for i in lct:
    Lct=i.text
    location.append(Lct)
    
print(location)

['Delhi NCR, Bengaluru, Hyderabad', 'Noida', 'Gurgaon', 'Delhi NCR, Greater Noida, Noida', 'Gurgaon', 'Delhi NCR, Noida(Sector-142 Noida)', 'Delhi NCR(Sector-142 Noida), Noida', 'Delhi NCR, Noida(Sector-142 Noida)', 'Delhi NCR(Sector-142 Noida), Noida', 'Delhi']

In [154]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[0:10]
for i in exp:
    Exp=i.text
    exp_req.append(Exp)
    
print(exp_req)

['0-2 Yrs', '5-8 Yrs', '5-9 Yrs', '0-0 Yrs', '3-8 Yrs', '9-14 Yrs', '9-14 Yrs', '9-14 Yrs', '9-14 Yrs', '3-5 Yrs']

In [155]:
naukri_df3=pd.DataFrame({'jobName':job_title,'CName':company_name,'location':location,'experience':exp_req})
naukri_df3

,jobName,CName,location,experience
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs
1,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
2,Data Scientist,PureSoftware Pvt Ltd.,Gurgaon,5-9 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Greater Noida, Noida",0-0 Yrs
4,Data Scientist,World Wide Technology,Gurgaon,3-8 Yrs
5,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs
6,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs
7,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs
8,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs
9,Data Scientist,Stark Industries,Delhi,3-5 Yrs

# Question 4 Solution

In [158]:
url='https://www.glassdoor.co.in/index.htm'

In [159]:
driver.get(url)

In [163]:
#searching the job where job name is data scientist and location is noida
driver.find_element_by_xpath("//input[@id='sc.keyword']").send_keys("Data Scientist")

In [165]:
driver.find_element_by_xpath("//input[@id='sc.location']").send_keys("noida")

In [166]:
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

In [167]:
company_name=[]
days_to_posted=[]
rating=[]

In [168]:
cname=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']")[0:10]
for i in cname:
    Cname=i.text
    company_name.append(Cname)
    
print(company_name)

['Genpact', 'Genpact', 'IHS Markit', 'Ericsson-Worldwide', 'Terra Economics & Analytics Lab (TEAL)', 'Brickred', 'Techlive', 'Algoscale', 'Biz2Credit Inc', 'Priority Vendor']

In [170]:
day=driver.find_elements_by_xpath("//div[@data-test='job-age']")[0:10]
for i in day:
    Day=i.text
    days_to_posted.append(Day)
    
print(days_to_posted)

['27d', '4d', '7d', '14d', '24h', '18d', '5d', '26d', '7d', '26d']

In [171]:
rat=driver.find_elements_by_xpath("//span[@class='compactStars ']")[0:10]
for i in rat:
    Rat=i.text
    rating.append(Rat)
    
print(rating)

['3.8', '3.8', '4.1', '4', '4.9', '3.7', '5', '3.7', '3.7', '4']

In [172]:
df4=pd.DataFrame({'company':company_name,'days posted':days_to_posted,'ratings':rating})
df4

                                  company days posted ratings
0                                 Genpact         27d     3.8
1                                 Genpact          4d     3.8
2                              IHS Markit          7d     4.1
3                      Ericsson-Worldwide         14d       4
4  Terra Economics & Analytics Lab (TEAL)         24h     4.9
5                                Brickred         18d     3.7
6                                Techlive          5d       5
7                               Algoscale         26d     3.7
8                          Biz2Credit Inc          7d     3.7
9                         Priority Vendor         26d       4

# Question 5 solution

In [173]:
url='https://www.glassdoor.co.in/Salaries/index.htm'

In [174]:
driver.get(url)

In [176]:
#searching the reult
driver.find_element_by_xpath("//input[@id='KeywordSearch']").send_keys("Data Scientist")
driver.find_element_by_xpath("//input[@id='LocationSearch']").send_keys("noida")
driver.find_element_by_xpath("//button[@class='gd-btn-mkt']").click()

In [182]:
company_name=[]
avg_salary=[]
min_salary=[]
max_salary=[]

In [183]:
cname=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")[0:10]
for i in cname:
    Cname=i.text
    company_name.append(Cname)
    
print(company_name)

['Delhivery', 'Accenture', 'IBM', 'Ericsson-Worldwide', 'UnitedHealth Group', 'Analytics Vidhya', 'Tata Consultancy Services', 'Cognizant Technology Solutions', 'Valiance Solutions', 'Vidooly Media Tech']

In [188]:
asal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")[0:10]
for i in asal:
    Asal=i.text
    avg_salary.append(Asal)
    
print(avg_salary)

['11,495K', '2,200K', '2,700K', '1,595K', '1,557K', '22K', '1,000K', '1,250K', '1,138K', '20K']

In [191]:
misal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")[0:10]
for i in misal:
    Misal=i.text
    min_salary.append(Misal)
    
print(min_salary)

['705K', '571K', '580K', '468K', '708K', '14K', '488K', '784K', '496K', '8K']

In [192]:
mxsal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")[0:10]
for i in mxsal:
    Mxsal=i.text
    max_salary.append(Mxsal)
    
print(max_salary)

['11,495K', '2,200K', '2,700K', '1,595K', '1,557K', '22K', '1,000K', '1,250K', '1,138K', '20K']

In [193]:
df5=pd.DataFrame({'company':company_name,'average salary':avg_salary,'min salary':min_salary,'max salary':max_salary})
df5

                          company average salary min salary max salary
0                       Delhivery       11,495K      705K   11,495K
1                       Accenture        2,200K      571K    2,200K
2                             IBM        2,700K      580K    2,700K
3              Ericsson-Worldwide        1,595K      468K    1,595K
4              UnitedHealth Group        1,557K      708K    1,557K
5                Analytics Vidhya           22K       14K       22K
6       Tata Consultancy Services        1,000K      488K    1,000K
7  Cognizant Technology Solutions        1,250K      784K    1,250K
8              Valiance Solutions        1,138K      496K    1,138K
9              Vidooly Media Tech           20K        8K       20K

# Question 6 solution

In [220]:
url='https://www.flipkart.com/'

In [221]:
driver.get(url)

In [222]:
brand=[]
des=[]
price=[]
discount=[]

In [223]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sunglasses')

In [224]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [226]:
start=0
end=3

for page in range(start,end):
        next_button=driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")

    
        br=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for i in br:
            brand.append(i.text)
        ds=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for i in ds:
            des.append(i.text)
        pr=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for i in pr:
            price.append(i.text)
        dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        for i in dis:
            discount.append(i.text)
        
        if next_button.text=='next':
            next_button.click()
            time.sleep(3)

['Tazzx',
 'Royal Son',
 'FDA COLLECTION',
 'FDA COLLECTION',
 'Rozzetta Craft',
 'Phenomenal',
 'ROZZETTA CRAFT',
 'Royal Son',
 'FDA COLLECTION',
 'JOHAENA',
 'Winsome',
 'Tazzx',
 'Phenomenal',
 'Dannilo',
 'shadz',
 'Gansta',
 'shah collections',
 'shah collections',
 'funglasses',
 'hipe',
 'Riffko',
 'Fastrack',
 'LOPO',
 'Gansta',
 'Trendy Glasses',
 'PIRASO',
 'Singco India',
 'Royal Son',
 'Phenomenal',
 'Riffko',
 'ROZZETTA CRAFT',
 'Specsmakers',
 'Fastrack',
 'like future',
 'funglasses',
 'Specsmakers',
 'shadz',
 'ROZZETTA CRAFT',
 'HAMIW COLLECTION',
 'ROYAL SON',
 'Tazzx',
 'Royal Son',
 'FDA COLLECTION',
 'FDA COLLECTION',
 'Rozzetta Craft',
 'Phenomenal',
 'ROZZETTA CRAFT',
 'Royal Son',
 'FDA COLLECTION',
 'JOHAENA',
 'Winsome',
 'Tazzx',
 'Phenomenal',
 'Dannilo',
 'shadz',
 'Gansta',
 'shah collections',
 'shah collections',
 'funglasses',
 'hipe',
 'Riffko',
 'Fastrack',
 'LOPO',
 'Gansta',
 'Trendy Glasses',
 'PIRASO',
 'Singco India',
 'Royal Son',
 'Phenomenal',
 'Riffko',
 'ROZZETTA CRAFT',
 'Specsmakers',
 'Fastrack',
 'like future',
 'funglasses',
 'Specsmakers',
 'shadz',
 'ROZZETTA CRAFT',
 'HAMIW COLLECTION',
 'ROYAL SON',
 'Tazzx',
 'Royal Son',
 'FDA COLLECTION',
 'FDA COLLECTION',
 'Rozzetta Craft',
 'Phenomenal',
 'ROZZETTA CRAFT',
 'Royal Son',
 'FDA COLLECTION',
 'JOHAENA',
 'Winsome',
 'Tazzx',
 'Phenomenal',
 'Dannilo',
 'shadz',
 'Gansta',
 'shah collections',
 'shah collections',
 'funglasses',
 'hipe',
 'Riffko',
 'Fastrack',
 'LOPO',
 'Gansta',
 'Trendy Glasses',
 'PIRASO',
 'Singco India',
 'Royal Son',
 'Phenomenal',
 'Riffko',
 'ROZZETTA CRAFT',
 'Specsmakers',
 'Fastrack',
 'like future',
 'funglasses',
 'Specsmakers',
 'shadz',
 'ROZZETTA CRAFT',
 'HAMIW COLLECTION',
 'ROYAL SON']

In [230]:
print(len(brand),len(des),len(price),len(discount))

120 87 120 120

In [231]:
df5=pd.DataFrame({'Brand':brand[:86],'Description':des[:86],'Price':price[:86],'Discount':discount[:86]})
df5

,Brand,Description,Price,Discount
0,Tazzx,"Gradient, Mirrored, UV Protection Round, Round...",168,83% off
1,Royal Son,UV Protection Rectangular Sunglasses (Free Size),664,66% off
2,FDA COLLECTION,"UV Protection, Mirrored Retro Square Sunglasse...",199,84% off
3,FDA COLLECTION,UV Protection Retro Square Sunglasses (Free Size),188,87% off
4,Rozzetta Craft,"Gradient, UV Protection Aviator, Retro Square ...",398,73% off
...,...,...,...,...
81,Royal Son,UV Protection Wayfarer Sunglasses (Free Size),664,66% off
82,FDA COLLECTION,Mirrored Aviator Sunglasses (Free Size),199,84% off
83,FDA COLLECTION,Mirrored Rectangular Sunglasses (52),188,87% off
84,Rozzetta Craft,"UV Protection, Riding Glasses Rectangular Sung...",398,73% off
85,Phenomenal,"UV Protection Wayfarer, Sports, Shield, Rectan...",399,80% off

# Question 7 Solution

In [232]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

In [233]:
driver.get(url)

In [238]:
rating=[]
r_summary=[]
review=[]

In [240]:
driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span").click()

In [241]:
start=0
end=10

for page in range(start,end):
        next_button=driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")

    
        r=driver.find_elements_by_xpath("//img[@class='_1wB99o']")
        for i in r:
            rating.append(i.text)
        s=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in s:
            r_summary.append(i.text)
        re=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for i in re:
            review.append(i.text)
        
        
        if next_button.text=='next':
            next_button.click()
            time.sleep(10)

In [242]:
print(len(rating),len(r_summary),len(review))

110 100 100

In [243]:
df6=pd.DataFrame({'rating':rating[:99],'review summary':r_summary[:99],'review':review[:99]})
df6

,rating,review summary,review
0,,Perfect product!,Amazing phone with great cameras and better ba...
1,,Great product,Amazing Powerful and Durable Gadget.\n\nIm am...
2,,Perfect product!,Its a must buy who is looking for an upgrade ...
3,,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,,Perfect product!,Value for money\nIts awesome mobile phone ...
...,...,...,...
94,,Perfect product!,Value for money\nIts awesome mobile phone ...
95,,Worth every penny,Best budget Iphone till date go for it guys...
96,,Worth every penny,Its been almost a month since I have been usi...
97,,Perfect product!,Iphone is just awesome.. battery backup is ver...
98,,Nice product,Awesome Phone. Slightly high price but worth. ...

# Question 8 Solution

In [244]:
url='https://www.flipkart.com/'

In [245]:
driver.get(url)

In [246]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sneakers')

In [248]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [249]:
brand=[]
des=[]
price=[]
discount=[]

In [250]:
start=0
end=3

for page in range(start,end):
        next_button=driver.find_element_by_xpath("//*[@id='container']/div/div[3]/div[2]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")

    
        b=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for i in b:
            brand.append(i.text)
        s=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for i in s:
            des.append(i.text)
        p=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for i in p:
            price.append(i.text)
        d=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
        for i in d:
            discount.append(i.text)
        
        
        if next_button.text=='next':
            next_button.click()
            time.sleep(3)

In [251]:
print(len(brand),len(des),len(price),len(discount))

120 105 120 120

In [252]:
df7=pd.DataFrame({'Brand':brand[:100],'Description':des[:100],'Price':price[:100],'Discount':discount[:100]})
df7

,Brand,Description,Price,Discount
0,WHITE WALKERS,Puma Smash v2 SL one8 Sneakers For Men,499,50% off
1,Puma,Combo Pack of 4 Casual Sneakers With Sneakers ...,"2,199",45% off
2,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,679,65% off
3,Chevit,445 Sports Shoes Sneakers For Men,236,52% off
4,Deny Brown,5011-Latest Collection Stylish Casual Loafer S...,375,24% off
...,...,...,...,...
95,Puma,Chevit Latest Fashion Combo Pack of 2 Pairs Ca...,"2,269",35% off
96,Red Rose,Puma Smash v2 L Perf Puma White-Puma Whi Sneak...,350,64% off
97,Chevit,jeans shoes for men Sneakers For Men,570,61% off
98,Essence,Puma Smash v2 SL one8 Sneakers For Men,474,52% off
99,REFOAM,169 Smart Sky Blue Lace-Ups Casuals for Men Sn...,597,70% off

# Question 9 solution

In [253]:
url='https://www.myntra.com/shoes'

In [254]:
driver.get(url)

In [255]:
#applying the filter
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

In [256]:
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label").click()

In [257]:
brand=[]
des=[]
price=[]

In [258]:
start=0
end=2

for page in range(start,end):
        next_button=driver.find_element_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/div[2]/ul/li[12]/a")

    
        b=driver.find_elements_by_xpath("//h3[@class='product-brand']")
        for i in b:
            brand.append(i.text)
        s=driver.find_elements_by_xpath("//h4[@class='product-product']")
        for i in s:
            des.append(i.text)
        p=driver.find_elements_by_xpath("//div[@class='product-price']")
        for i in p:
            price.append(i.text)
       
        
        
        if next_button.text=='next':
            next_button.click()
            time.sleep(2)

In [259]:
print(len(brand),len(des),len(price))

100 100 100

In [260]:
df8=pd.DataFrame({'Brand':brand[:100],'Description':des[:100],'Price':price[:100]})
df8

               Brand                    Description                     Price
0               Nike     Men AIR ZOOM Running Shoes                 Rs. 11995
1               Nike  Men FREE RN 5.0 Running Shoes                  Rs. 7995
2     Tommy Hilfiger              Men Solid Loafers                  Rs. 8599
3   ADIDAS Originals    Stan Smith Leather Sneakers                  Rs. 7999
4               Nike  PEGASUS FLYEASE Running Shoes                  Rs. 9995
..               ...                            ...                       ...
95              Puma  Men SPEED 500 2 Running Shoes  Rs. 9499Rs. 9999(5% OFF)
96  ADIDAS Originals          Women Sonkei Sneakers                  Rs. 7999
97              Geox       Women Leather Flat Boots                 Rs. 12999
98              Geox         Women Leather Slip-Ons                  Rs. 8990
99  ADIDAS Originals             Men NMD R1Sneakers                 Rs. 12999

[100 rows x 3 columns]

# Question 10 Solution

In [275]:
url='https://www.amazon.in/'

In [276]:
driver.get(url)

In [277]:
#searcing the laptop
driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']").send_keys('laptop')

In [278]:
driver.find_element_by_xpath("//*[@id='nav-search-submit-text']/input").click()

In [279]:
driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/span").click()

In [301]:
title=[]
rating=[]
price=[]

In [302]:
t=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in t:
    title.append(i.text)
r=driver.find_elements_by_xpath("//i[@class='a-icon a-icon-star-small a-star-small-3 aok-align-bottom']")
for i in r:
    rating.append(i.text)
p=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in p:
    price.append(i.text)

In [303]:
print(len(title),len(rating),len(price))

21 2 12